@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter';
    font-weight: 300;
}

@import 'bootstrap/scss/bootstrap';

.button-row {
    padding: 1%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

label {
    margin-bottom: 1%;
}

.form-group {
    padding: 1%;
    display: flex;
}

.form-group div {
    flex: 1;
    margin-right: 1%;
}

#login-form,
#register-form,
#lancamento-form,
#limite-form,
#extrato-form,
#transferencia-form {
    width: 90%;
    margin: auto;
}

.logo {
    display: block;
    margin: auto;
    text-align: center;
    align-items: center;
}

.logo strong {
    font-weight: 800;
    color: #61a0fd;
}

.logo h1 {
    font-size: 50px;
    font-weight: 150;
    letter-spacing: -2px;
}

input::placeholder {
    font-weight: 200;
}

button {
    font-weight: 600 !important;
    letter-spacing: -0.8px;
}

.navbar {
    padding: 50px;
}

.navbar .logo {
    cursor: pointer;
    margin: 0;
}

.navbar .logo h1 {
    font-size: 35px;
}

ngb-alert {
    position: absolute !important;
    bottom: 2% !important;
    left: 2% !important;
}

.navbar {
    display: flex;
    align-items: start;
    justify-content: space-between;
    vertical-align: middle;
}

::ng-deep


.user {
    display: flex;
}

.user #user-name {
    color: #61a0fd;
    font-weight: 600;
}

.user p {
    margin: 1%;
}

.table-container {
    margin: auto;
    width: 50%;
}

.logout {
    position: absolute;
    bottom: 4%;
    right: 2%;
}

.saldo {
    position: absolute;
    bottom: 4%;
    left: 2%;
}

*:focus:not(button){
    background-color: yellow !important;
    outline: 2px solid orange;
}

.hoverable:hover, input:hover, select:hover{
    background-color: rgb(216, 255, 171) !important;
    // outline: 2px solid orange;
}

button:focus{
    outline: 2px solid black !important;
}

.user:focus{
    background-color: rgb(185, 255, 79) !important;
    outline: 2px solid rgb(0, 187, 47);
}

.error{
    // font-weight: bold;
    color:red;
}