<div class="navbar">
    <div [routerLink]="['/home']" (keyup.enter)="navigateToRoute('/home')" class="logo hoverable"
        title="Voltar para a home">
        <h1>S<strong>B</strong></h1>
    </div>
    <div class="user" tabIndex="0" title="Nome do cliente">
        <p>Cliente:</p>
        <p id="user-name">{{tokenInfo?.name}}</p>
    </div>
</div>
<div class="table-container">
    <h4>Contas</h4>
    <table class="table table-striped" name="Tabela de contas">
        <thead>
            <tr>
                <th name="Número da conta" scope="col">Número da conta</th>
                <th name="Saldo" scope="col">Saldo</th>
                <th name="Limite de crédito" scope="col">Limite de crédito</th>
            </tr>
        </thead>
        <tbody>
            @for (conta of contas; track conta.id; let i = $index) {
            <tr>
                <td>{{ conta.numero }}</td>
                <td>{{ conta.saldo }}</td>
                <td>{{ conta.limite }}</td>
            </tr>
            }
        </tbody>
    </table>
    <div class="button-row">
        <button type="button" class="btn btn-dark" (click)="criarNovaConta()">Criar nova conta</button>
    </div>
</div>
<div class="vertical-center">
    <form id="limite-form" [formGroup]="form" (submit)="onSubmit()">
        <div class="form-group">
            <div>
                <label for="conta">Conta *</label>
                <select class="form-select" id="conta" name="conta" formControlName="conta" aria-describedby="contaHelp"
                    password="Selecione a conta">
                    <option></option>
                    @for (conta of contas; track conta; let i = $index) {
                    <option [value]="i">
                        {{conta.numero}}
                    </option>
                    }
                </select>
                <div class="error"
                    *ngIf="form.get('conta')?.touched && form.get('conta')?.errors?.['required']">
                    Conta é obrigatória.
                </div>
            </div>
            <div>
                <label for="valor">Novo limite *</label>
                <input type="number" class="form-control" id="valor" name="valor" formControlName="valor"
                    aria-describedby="valorHelp" placeholder="Digite o valor">
                <div class="error" *ngIf="form.get('valor')?.touched && form.get('valor')?.errors?.['required']">
                    Novo limite é obrigatório.
                </div>
            </div>
        </div>
        <div class="button-row">
            <button type="submit" [disabled]="!this.form.valid" class="btn btn-dark">Confirmar</button>
        </div>
    </form>
</div>
@if (this.alert!.message != ""){
<ngb-alert #selfClosingAlert [type]="this.alert!.type" [dismissible]="false">{{ this.alert?.message
    }}</ngb-alert>
}
<button class="btn btn-danger logout" (click)="logout()" title="Sair da conta">Sair</button>